
/**** LAYOUT ****/
.property-listing .list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/* Padding - Margins */

.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}


/**** MODULE ****/


/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}


/* Color  */
.clr-535353 {
    color: #535353;
}

.property-listing {
	background:#fff;
	margin-bottom: 20px!important;
	border: 1px solid #ededed;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    padding:10px;
    
}

/*
 * PROPERTY MAP
 */

#property_map {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFxaHDgAAAAABJRU5ErkJggg==) repeat;	
	margin-top:-10px; 
	margin-left: -14px; 
	margin-right: -14px; 
	margin-bottom: -14px; 
	min-height: 300px;
	/*margin-right:225px;*/
}

.modal-content .tab-pane {
	position:relative !important;
}


/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 150px;
    }
}

